{% extends 'base.html' %}
{% block title %}Facturas{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    {% include 'accounting/partials/invoice_breadcrumbs.html' %}
    {% include 'accounting/partials/invoice_header.html' %}
    {% include 'accounting/partials/invoice_filters.html' %}
    {% include 'accounting/partials/invoice_stats.html' %}
    {% include 'accounting/partials/invoice_bulk_actions.html' %}
    {% include 'accounting/partials/invoice_table.html' %}
</div>

{% include 'accounting/partials/invoice_modals.html' %}
{% include 'accounting/partials/invoice_scripts.html' %}
{% endblock %}